@font-face {
  font-family: "Single Product Webicons Regular";
  src: url("//cdn.shopify.com/s/files/1/0561/8365/t/19/assets/singleproductwebicons-regular.eot?663");
  src: url("//cdn.shopify.com/s/files/1/0561/8365/t/19/assets/singleproductwebicons-regular.eot?%23iefix&663")
      format("embedded-opentype"),
    url("//cdn.shopify.com/s/files/1/0561/8365/t/19/assets/singleproductwebicons-regular.woff?663")
      format("woff"),
    url("//cdn.shopify.com/s/files/1/0561/8365/t/19/assets/singleproductwebicons-regular.ttf?663")
      format("truetype"),
    url("//cdn.shopify.com/s/files/1/0561/8365/t/19/assets/singleproductwebicons-regular.svg%23singleproduct_web_iconsregular?663")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 850px) {
  div.navbar {
    position: relative;
    height: fit-content;
    background-color: black;
    padding: 20px 0;
  }
  .navbar .navbar__main-menu {
    flex-flow: column;
    height: fit-content;
    align-items: center;
  }

  .navbar .navbar__main-menu__container.navbar__main-menu__container__website {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: dimgrey;
    padding-top: 20px;
    transform: translateX(100vw);
  }

  .navbar .navbar__main-menu__container__ul {
    padding: 0;
  }

  .navbar .navbar__main-menu__container__website {
    margin: 0;
    padding: 0 0 0 20px;
  }

  .navbar__main-menu .navbar__main-menu__logo {
    margin: auto 0;
    padding: 10px 0;
  }

  .navbar__main-menu__container__ul
    .navbar__main-menu__container__website__ul__li {
    display: block;
    padding-left: 0;
    font-size: 22px;
  }

  .navbar__main-menu__container__ul
    .navbar__main-menu__container__website__ul__li__dropdown {
    display: block;
    padding-left: 0;
    font-size: 22px;
  }
  .navbar__main-menu__container__website__ul__li__dropdown
    .navbar__main-menu__container__website__ul__li__dropdown-content {
    display: block;
    position: relative;
    min-width: unset;
    background-color: unset;
    border-top: 0;
    font-size: 16px;
    padding: 0 0 0 20px;
    margin: 0;
  }

  .navbar .navbar__hamburger-menu {
    display: inline-block;
  }

  .navbar__main-menu__container.navbar__main-menu__container__website.navbar__main-menu__container__website--slide-in {
    transform: translateX(50vw);
  }
}

.navbar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1500px;
  height: 150px;
  z-index: 1;
  margin: 0 auto;
  padding: 20px 30px;
  display: flex;
}

.navbar__main-menu {
  display: flex;
  width: 100%;
}

.navbar__main-menu__logo {
  height: 120px;
  margin-right: auto;
}

.navbar__main-menu__container {
  color: white;
}
.navbar__main-menu__container__website {
  font-family: "Exo 2", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}

.navbar__main-menu__container__ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0 50px 0 0;
}

.navbar__main-menu__container__ul > * + * {
  padding-left: 30px;
}

.navbar__main-menu__container__ul__li {
  display: inline-block;
}
.navbar__main-menu__container__website__ul__li,
.navbar__main-menu__container__website__ul__li__dropdown {
  display: inline-block;
}

.navbar__main-menu__container__ul__li:hover {
  color: lightgreen;
}
.navbar__main-menu__container__website__ul__li:hover,
.navbar__main-menu__container__website__ul__li__dropdown:hover {
  color: lightgreen;
}

.navbar__main-menu__container__website__ul__li__dropdown:hover
  .navbar__main-menu__container__website__ul__li__dropdown-content {
  display: block;
}

.navbar__main-menu__container__website__ul__li__dropdown-content {
  display: none;
  min-height: 30px;
  min-width: 250px;
  background-color: black;
  border-top: 3px solid lightgreen;
  font-size: 20px;
  padding: 10px;
  position: absolute;
}

.navbar__main-menu__container__website__ul__li__dropdown-content__button {
  text-decoration: none;
  text-transform: none;
  text-align: left;
  color: white;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

.navbar__main-menu__container__website__ul__li__dropdown-content__button:focus {
  outline: none;
}

.login-icon {
  font-family: "Single Product Webicons Regular";
  font-size: 38px;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.login-icon::before {
  content: "\E004";
}
.cart-icon {
  font-family: "Single Product Webicons Regular";
  font-size: 38px;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.cart-icon::before {
  content: "\E002";
}
.search-icon {
  font-family: "Single Product Webicons Regular";
  font-size: 38px;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.search-icon::before {
  content: "\E003";
}
.cross-icon {
  font-family: "Single Product Webicons Regular";
  font-size: 38px;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0 50px 0 0;
  text-align: end;
}
.cross-icon::before {
  content: "\E005";
}

.navbar__hamburger-menu {
  display: none;
  padding: 0 50px 0 0;
}

.navbar__hamburger-menu__a {
  color: white;
  font-size: 46px;
}
